[Unit]
Description=Blinkenxmas web service
After=network.target local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bxweb --production
Restart=on-failure

[Install]
WantedBy=multi-user.target
