from mqtt_as import config

# Fill out the configuration below, then copy/rename this file to "config.py"

# WiFi configuration
config['ssid'] = 'your-ssid-here'
config['wifi_pw'] = 'your-ssid-password'

# MQTT broker configuration
config['server'] = 'broker'
config['topic'] = 'blinkenxmas'

# Configuration of the WS2812 strip
config['led_count'] = 50
config['fps'] = 60

# Error handling; either 'reset' (the default) or 'blink'
config['error'] = 'reset'
