/* Use border-box sizing for easier calculation */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

:root {
    --link-base:    #c51a4a;
    --link-fore:    white;
    --link-hover:   #c95777;
    --label:        #333;
    --message-back: #ccf;
    --message-fore: #333;
    --message-x:    #88f;
    --preset-back:  #ddd;
    --row-odd:      white;
    --row-even:     #ddd;
}

body {
    font: 1em/1.5 sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 1.5rem;
    color: var(--label);
}

strong { font-weight: 600; }

h1, h2, h3, h4, h5, h6,
ul, ol, dl, dt, p, pre, table, hr, form {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

img, canvas {
    display: block;
    margin: 0 auto;
}

img#preview-image,
canvas#preview-image {
    width: 100%;
}

input, select, textarea {
    font-size: 1rem;
    margin-top: 0;
    width: 100%;
    line-height: 1.5;
}

input[type=checkbox] {
  width: auto;
}

label {
  margin-top: 0;
  color: var(--label);
}

a {
    color: var(--link-base);
    text-decoration: none;
}
a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

ul ul, ul ol,
ol ol, ol ul,
dd {
    margin-top: 0;
}

dl dt { font-weight: bold; }

dl dd > :first-child { margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
    color: var(--link-base);
    font-family: serif;
    font-weight: normal;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 1rem; }

pre {
    font: 1rem monospace;
    line-height: 1.2rem;
}

hr {
    width: 100%;
    border: 0;
    border-bottom: 0.5rem dotted #e69eb2;
}

abbr {
    border-bottom: none;
    text-decoration: none;
}

header {
    background: #b3deb1;
    background: linear-gradient(
        90deg,
        #b3deb1 0%,
        #b3deb1 50%,
        var(--link-hover) 100%
    );
}

header h1 { margin: 0.5rem 1rem; }

article,
section#messages {
    width: 50rem;
    align-self: center;
}

section#messages > div {
    background: var(--message-back);
    color: var(--message-fore);
    border-radius: 1rem;
    margin-top: 1.5rem;
    padding: 1rem;
}

section#messages div a { color: var(--message-x); float: right; }
section#messages div a:hover { text-decoration: none; }
section#messages div :is(a, p) { margin-top: 0; }

ul#presets {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
}

ul#presets li {
    list-style-type: none;
    background: var(--preset-back);
    border-radius: 5px;
    padding: 0.5rem;
}

ul#presets li a { display: block; }

@media screen and (max-width: 52rem) {
    article,
    section#messages {
        align-self: stretch;
        width: auto;
        margin: 0 1rem;
    }

    ul#presets {
        grid-template-columns: 1fr 1fr;
    }
}

form.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto 1fr;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

form.grid img,
form.grid canvas,
form.grid .description,
form.grid .buttons {
    grid-column: 1 / span 2;
}

form.grid .description { text-align: justify; }
form.grid .description :first-child { margin-top: 0; }
form.grid .description .admonition {
    background: var(--preset-back);
    border-radius: 5px;
    margin-top: 1.5rem;
    padding: 0.5rem;
}
form.grid .description .admonition .admonition-title {
    color: var(--link-fore);
    background: var(--link-base);
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    padding: 0.5rem;
    margin: -0.5rem;
    margin-bottom: 0.5rem;
}
form.grid .description .admonition .admonition-title + * {
    margin-top: 0;
}

.buttons input, .buttons a {
    flex: 1;
    cursor: pointer;
    color: var(--link-fore);
    background-color: var(--link-base);
    border: 0 none;
    border-radius: 5px;
    transition: background-color 0.25s;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
}

.buttons * + * { margin-left: 0.5rem; }

.button a { text-decoration: none; }

.button:hover,
form input[type=button]:hover,
form input[type=cancel]:hover,
form input[type=submit]:hover {
    color: var(--link-fore);
    background-color: var(--link-hover);
    text-decoration: none;
}
