@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&family=Roboto+Slab:wght@200&family=Ubuntu:wght@300&display=swap');

/* Use border-box sizing for easier calculation */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
    font: 1em/1.5 "Montserrat", sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

strong { font-weight: 600; }

h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, p, pre, table, hr, input {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

a {
    color: #c51a4a;
    text-decoration: none;
}
a:hover {
    color: #c51a4a;
    text-decoration: underline;
}

ul ul, ul ol,
ol ol, ol ul,
dd {
    margin-top: 0;
}

dl dt { font-weight: bold; }

dl dd > :first-child { margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
    color: #c51a4a;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 1rem; }

pre {
    font: 1rem monospace;
    line-height: 1.2rem;
}

hr {
    width: 100%;
    border: 0;
    border-bottom: 0.5rem dotted #e69eb2;
}

abbr {
    border-bottom: none;
    text-decoration: none;
}
